<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UF-8">
    <meta name="viewport" content="width=deice-width,inital-scale=1.0">
    <title>Vision Buddies</title>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="search-bar">
                <input type="text" placeholder="Enter a buddy's name" id="searchInput">
                <button id="addButton" class="action-btn add-btn">Add</button>
            </div>
            <div class="buddy-list" id="buddyList">
            </div>
        </div>

        <div class="right-section">
            <h3>Following</h3>
            <ul class="following-list" id="followingList">
            </ul>
        </div>
    </div>
    <script src="script.js"></script>

</body>

</html>