<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="HomePage.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <li2>|</li2>
      <li><a href="../Profile/Profile.html">Profile</a></li>
      <li><a href="../Targets/Targets.html">Targets/Steps To Take</a></li>
      <li><a href="../../Free-Forum-Template-main/detail.html">CommunityHub</a></li>
      <li><a href="../BoardCreationPage/BoardCreationPage.html">VisionBoard</a></li>
      <li><a href="../HomePage/HomePage.html">Home</a></li>
    </ul>
  </nav>
</header>

<section>
  <article>
    <p>Vision Board Generator</p>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>

